---
layout: archive
title: "Literature"
permalink: /literature/
author_profile: true
---

The study on the physics of relativistic heavy-ion collisions is a rapidly developing field, 
and a lot of interesting studies are coming out and becoming part of the literature of the field.
I would like to list some interesting papers I found, now and then, here and there, on this page
categorized into different topics. (August 29, 2018)

{% include base_path %}


{% for post in site.literature %}
  {% include archive-single.html %}
{% endfor %}

