---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<p>Photographing is fun! I bought my first camera Canon EOS Rebel T5 in the summer of 2016. On this page, some photos taken by me are displayed. They were mainly taken at places where I attended meetings and schools, or near The Ohio State University. See some details attached to each photo.</p>

<img style="border:4px solid black;" src="/images/IMG_camera.jpg" alt="camera" style="width:400px;"/>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

